---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogLayout from "@layouts/BlogLayout.astro";
import TagPills from "@components/TagPills.astro";

export async function getStaticPaths() {
    const allPosts = await getCollection("blog");
    return allPosts.map((post) => ({
        params: { slug: post.slug }, props: { post } 
    }));
}

type Props = {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---
<BlogLayout pageTitle={post.data.title}>
    <article class="my-8 w-full max-w-3xl m-auto prose lg:prose-lg prose-stone font-body">
        <h1 class="text-4xl">{post.data.title}</h1>
        <address class="text-lg italic">Written by {post.data.author}</address>
        <time datetime={post.data.date.toString()}>{post.data.date.toFormattedDateString()}</time>
        {post.data.lastUpdated && (
            <p class="text-sm text-gray-500">Last updated: {post.data.lastUpdated.toFormattedDateString()}</p>
        )}
        <TagPills tags={post.data.tags} />
        <Content />
    </article>
</BlogLayout>
  