---
import type { CollectionEntry } from "astro:content";

type Props = {
    post: CollectionEntry<"blog">
    display?: "compact" | "full"
}

const { post, display = "full" } = Astro.props;
---
<div transition:name={post.slug} class="font-body">
    <a
    class="flex flex-col justify-center rounded-md p-2 m-2 hover:shadow-lg shadow-md transition-all duration-300 group bg-cover hover:bg-bottom" 
    style={`background-image: url(${post.data.image?.url});`}
    href={`/blog/posts/${post.slug}`}>
    <div class="bg-white bg-opacity-80 backdrop-blur-sm p-2 mt-16 rounded-sm group-hover:outline outline-primary">
        <div class="flex justify-between">
            <h1 transition:name={post.data.title} class="text-lg lg:text-xl font-bold">{post.data.title}</h1>
            <p class="text-sm">{post.data.date.toISOString().split('T')[0]}</p>
        </div>    
            {display == "full" && (
            <div class="relative">
                <h3 class="px-1 overflow-clip text-md text-slate-700">{post.data.description}</h3>
            </div>
            )}
    </div>
    </a>
</div>